.App {
  max-width: 800px;
  padding: 24px;
  margin: 48px auto;

  input {
    width: 100%;
    font-size: 16px;
  }

  & > button {
    margin: .5em 0;
    font-size: 16px;
  }

  ul {
    li {
      margin: .5em 0;
      button {
        float: right;
      }
    }
  }
}